@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

:root {
    --pink: #DE5D83;
    --black: #000;
    --gray: #bebebe;
    --light-gray: #9d9d9d;
    --comment-box: #171827;
    --comment: #555D68;
    --comment-date: #8A8A8A;
    --warning: #e22c2c;
    --yellow: #EEE62F;
}

::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-track {
    background: var(--comment-box);
}

::-webkit-scrollbar-thumb {
    background: var(--comment);
}

a {
    text-decoration: none;
}

i {
    cursor: pointer;
}

li {
    list-style-type: none;
}

img {
    cursor: pointer;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: monospace;
    background-color: #0b1118;
    height: 100%;
  
}

.container {
    width: 100%;
    height: 100vh;
    z-index: 55;
}

.container .header {
    width: 100%;
    height: 70px;
    padding: 2rem 10%;
    z-index: 55;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo h1 {
    color: var(--pink);
    font-size: 2.5rem;
    cursor: pointer;
    font-family: 'Mochiy Pop One', sans-serif;
}

.nav-bar .nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.nav-bar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.nav-bar ul li a {
    color:  #fff;
    font-size: 1.2rem;
    font-weight: 500;
    transition: color 0.25s ease-in-out;
    -webkit-transition: color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out;
    -ms-transition: color 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out;
}

.nav-bar ul li a:hover {
    color: var(--pink);
}

.nav-bar .user i {
    font-size: 1.3rem;
    color: #fff;
    transition: color .25s ease-in-out;
    -webkit-transition: color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out;
    -ms-transition: color 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out;
}

.nav-bar .user i:hover {
    color: var(--pink);
}

.nav-bar .close-btn i {
    font-size: 2.3rem;
    color: #fff;
    position: absolute;
    top: 2rem;
    right: 3rem;
    display: none;
}

.header .nav-bar .open_btn {
    position: absolute;
    right: 4rem;
    top: 1.5rem;
    color: #fff;
    font-size: 2rem;
    display: none;
}


.swiper {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    
}

.swiper-slide.slide-1 {
    background-image: url(../imgs/bg/uncharted.svg);
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
}
.swiper-slide.slide-2 {
    background-image: url(../imgs/bg/batman.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.swiper-slide.slide-3 {
    background-image: url(../imgs/bg/blue-pale.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.swiper-slide.slide-4 {
    background-image: url(../imgs/bg/matrix.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.swiper-slide.slide-5 {
    background-image: url(../imgs/bg/thor.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



.swiper-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.swiper-slide .swiper-container {
    width: 80%;
}

.swiper-container .type {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.swiper-container .type .line {
    height: 30px;
    width: 1px;
    background-color: var(--gray);
}

.swiper-container .type p {
    color: var(--gray);
    font-size: 1.2rem;
}

.swiper-container .movie-title {
    width: 60%;
    margin-top: 1rem;
}

.swiper-container .movie-title h2 {
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    font-size: 3rem;
    justify-content: flex-start;
}

.swiper-container .movie-title p {
    color: #fff;
    font-weight: 400;
    text-align: justify;
    font-size: 1.3rem;
    margin-top: 0.6rem;
}

.swiper-container .movie-rating {
    margin-top: 2rem;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
}

.swiper-container .movie-rating p {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    justify-content: flex-start;
}

.swiper-container .movie-rating .rect {
    border: 1px solid #fff;
    padding: 0.6rem;
    
}

.swiper-container .movie-btn {
    display: flex;
    gap: 1.5rem;
    margin-top: 2rem;
}

.movie-btn .btn-1 {
    width: 175px;
    height: 45px;
    background-color: #fff;
    color: var(--pink);
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 1s;
}

.movie-btn .btn-1:hover {
  background-color: var(--pink);
  color: #fff;
}

.movie-btn .btn-2 {
    width: 175px;
    height: 45px;
    background-color: #fff;
    color: var(--pink);
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 1s;
}

.movie-btn .btn-2:hover {
    background-color: var(--pink);
    color: #fff;
  }

/* fetch */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --primary-color:#22254b;
    --secondary-color: #373b69;
}

body{
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


header{
    padding:1rem;
    display:flex;
    justify-content: flex-end;
    background-color: var(--secondary-color);
}

.search{
    background-color: transparent;
    border: 2px solid var(--primary-color);
    padding:0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color:#fff;
    font-family: inherit;
}

.search:focus{
    outline:0;
    background-color: var(--primary-color);
}

.search::placeholder{
    color: #7378c5;
}

main{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color: var(--secondary-color);
    position:relative;
    overflow: hidden;
}


.movie img{
    width:100%;
}

.movie-info{
    color:#eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3{
    margin-top: 0;
}

.movie-info span{
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green{
    color:lightgreen;
}

.movie-info span.orange{
    color:orange;
}

.movie-info span.red{
    color:red;
}

.overview{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    background-color: #fff;
    padding: 1rem;
    max-height: 100%;
    transform:translateY(101%);
    transition:transform 0.3s ease-in;
}

.movie:hover .overview{
    transform:translateY(0)
}

#tags{
    width:80%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.tag{
    color:white;
    padding:10px 20px;
    background-color: orange;
    border-radius: 50px;
    margin:5px;
    display:inline-block;
    cursor: pointer;
}

.tag.highlight{
    background-color: red;
}
.no-results{
    color:white;
}

.pagination{
    display:flex;
    margin:10px 30px;
    align-items: center;
    justify-content: center;
    color:white;
}

.page{
    padding:20px;
    cursor:pointer;
}

.page.disabled{
    cursor:not-allowed;
    color:grey;
}

.current{
    padding: 10px 20px;
    border-radius: 50%;
    border: 5px solid orange;
    font-size: 20px;
    font-weight: 600;
}

.know-more{
    background-color: orange;
    color:white;
    font-size: 16px;
    font-weight: bold;
    border:0;
    border-radius: 50px;
    padding: 10px 20px;
    margin-top: 5px;
}
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 10%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }


  .embed.hide{
      display: none;
  }

  .embed.show{
      display: inline-block;
  }

  .arrow{
      position: absolute;
      font-size: 40px;
  }

  .arrow.left-arrow{
      top:50%;
      left:5%;
      transform: translateY(-50%);
  }

  
  .arrow.right-arrow{
    top:50%;
    transform: translateY(-50%);
    right:5%;
}

.dots{
    margin-top: 30px;
}

.dots .dot {
    padding: 5px;
    border-radius: 50%;
    border: 2px solid var(--pink);
    color: white;
    font-size: 20px;
    font-weight: 600;
  
}

.dots .dot.active{
    border-color: orange;
}